$--color-success: #34675c !default;
$--color-warning: #ee693f !default;
$--color-danger: #c53305 !default;
$--color-primary: #283655 !default;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";